<ion-header [translucent]="true">
    <ion-toolbar>
          <div class="shopping-header">
              <div class="container">
                  <div class="shopping-navbar">
                      <div class="shopping-logo">
                         <a routerLink="/tabs/tab1" class="logo-name">REGENERATE CLOTHING</a><br>
                         <a routerLink="/tabs/tab1" class="logo-tagline">REDESIGN YOU</a>
                      </div>
                      <nav>
                        <ul id="ShoppingMenuProducts">
                        </ul>
                     </nav>
                   <a class="cursor-pointer" (click)="openShoppingCartDetails()"><img src="./../../../../assets/images/cart.png" alt="cart icon" width="30px" height="30px"></a>
                  </div>
          </div>
    </div>
    </ion-toolbar>
  </ion-header>
  