<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
     Welcome to profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <!-- <div class="carousel-item col-md-3  active"> -->
      <div class="card h-100">
        <div class="card-body">
          <div class="myback-img" *ngIf="base64OrImage" [style.background-image]="base64OrImage">
            <!-- <img src="{{base64OrImage}}"
              class=""> -->
          </div>
          <!-- <div class="myoverlay"></div>
          <div class="profile-img">
            <div class="borders avatar-profile" *ngIf="base64OrImage" [style.background-image]="base64OrImage">
            <span ></span>
              <img [style.background-image]="base64OrImage">
            </div>
          </div> -->
          <!-- <div class="profile-title button-background-color">
            <a>
              <h3>Hi Guest</h3>
            </a>
          </div> -->
        </div>
      </div>
    <!-- </div> -->

</div>
<app-explore-container name="Tab 2 page" (image)="addItem($event)"> </app-explore-container>

</ion-content>