<!-- shopping-footer -->
<div class="shopping-footer">
    <div class="container">
        <div class="row">
            <div class="shopping-footer-col-2">
                <div class="shopping-logo">
                    <a routerLink="/tabs/tab1" class="logo-name">REGENERATE CLOTHING</a><br>
                    <a routerLink="/tabs/tab1"  class="logo-tagline">REDESIGN YOU</a>
                 </div>
                <p>Our Purpose is to Sustainability Make the pleasure an benifits of sports Accessible to the Many.</p>
            </div>
            <div class="shopping-footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="shopping-footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="my-copyright">Copyright 2021</p>
    </div>
</div>