<div class="small-shopping-container about-text">
       <p>
        Welcome to Regerate Clothing, your number one source for all types of clothes, shoes, wrist watches and many more products. 
        We're dedicated to giving you the very best of products, with a focus on fabric, trend, 
        customer's choice.
      
        Founded in 1993 by Regerate Clothing, Regerate Clothing has come a long way from its beginnings in Dublin. 
        When Regerate Clothing first started out, our passion for "eco-friendly cleaning products"
        drove them to do tons of research so that Regerate Clothing can offer you "the world's most stylish attires". 
        We now serve customers all over Ireland, and are 
        thrilled that we're able to turn our passion into my own website.
       
        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, 
        please don't hesitate to contact us.
       <br>
       <br>
        Sincerely,<br>
        Regerate Clothing
       </p>
</div>