<app-header-cloth-shopping-component></app-header-cloth-shopping-component>
<ion-content [fullscreen]="true">
  <back-button *ngIf="orderPlaced !== true"></back-button>

  <div class="container div-padding">
    <form [formGroup]="placeOrderForm" (ngSubmit)="confirmOrder()" *ngIf="orderPlaced === false" novalidate>


      <div class="small-shopping-container shopping-cart">
        <h4>Order Summary</h4>
        <table>
          <tr>
            <th>Product</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          <tr *ngFor="let item of finalItemsForOrder">
            <td>
              <div class="shopping-cart-information">
                <img src="{{item.image1}}" alt="{{item.description}}">
                <div>
                  <p>{{item.description}}</p>
                  <small>Price: &euro; {{item.price}}</small>
                </div>
              </div>
            </td>
            <td>{{item.selectedSize}}</td>
            <td>{{item.productQuantities}}</td>
            <td>&euro; {{item.productQuantities * item.price}}</td>
          </tr>
        </table>
      </div>


      <div class="shopping-total-cost" *ngIf="finalItemsForOrder.length > 0">
        <table>
          <tr>
            <td>Sub Total</td>
            <td>&euro; {{sumTotal}}</td>
          </tr>
        </table>
      </div>

      <div class="form-group col-sm-12 col-md-8">
        <label for="userFirstName">First Name:<span class="text-red">*</span></label>
        <input type="text" class="form-control" formControlName="userFirstName">
        <div
          *ngIf="placeOrderForm.controls['userFirstName'].touched && placeOrderForm.controls['userFirstName'].invalid"
          class="text-danger">
          <div *ngIf="placeOrderForm.controls['userFirstName'].errors.required">User's First Name is required.</div>
          <div *ngIf="placeOrderForm.controls['userFirstName'].errors.minlength">Minimum 4 characters required.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-md-8">
        <label for="userLastName">Last Name:<span class="text-red">*</span></label>
        <input type="text" class="form-control" formControlName="userLastName">
        <div *ngIf="placeOrderForm.controls['userLastName'].touched && placeOrderForm.controls['userLastName'].invalid"
          class="text-danger">
          <div *ngIf="placeOrderForm.controls['userLastName'].errors.required">User's Last Name is required.</div>
          <div *ngIf="placeOrderForm.controls['userLastName'].errors.minlength">Minimum 4 characters required.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-md-8">
        <label>Email Address:<span class="text-red">*</span></label>
        <input type="email" class="form-control" name="email" formControlName="userEmailAddress" email>
        <div
          *ngIf="placeOrderForm.controls['userEmailAddress'].touched && placeOrderForm.controls['userEmailAddress'].invalid"
          class="text-danger">
          <div *ngIf="placeOrderForm.controls['userEmailAddress'].errors.required">User's Email is required.</div>
          <div *ngIf="placeOrderForm.controls['userEmailAddress'].errors.email">Email seems invalid.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-md-8">
        <label>Contact Number:<span class="text-red">*</span></label>
        <input type="number" class="form-control" formControlName="userContactNumber">
        <div
          *ngIf="placeOrderForm.controls['userContactNumber'].touched && placeOrderForm.controls['userContactNumber'].invalid"
          class="text-danger">
          <div *ngIf="placeOrderForm.controls['userContactNumber'].errors.required">User's Phone Number is required.
          </div>
          <div
            *ngIf="placeOrderForm.controls['userContactNumber'].errors.min || placeOrderForm.controls['userContactNumber'].errors.max">
            Minimum 7 digits and max 10 digits required without zero as prefix.</div>
        </div>
      </div>

      <div class="form-group col-sm-12 col-md-8">
        <label>Delivery Address:<span class="text-red">*</span></label>
        <input type="text" class="form-control" formControlName="userAddress">
        <div *ngIf="placeOrderForm.controls['userAddress'].touched && placeOrderForm.controls['userAddress'].invalid"
          class="text-danger">
          <div *ngIf="placeOrderForm.controls['userAddress'].errors.required">User's Delivery Address is required.</div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <button class="btn btn-success btn-block" [disabled]="!placeOrderForm.valid" type="submit">Confirm
          Order</button>
      </div>
    </form>

    <div *ngIf="orderPlaced === true" class="order-confirm">
      Your Order has been confirmed. Thanks for placing order with us.
      You will get an order confirmation on your email. You will also get
      email notifications for tracking purpose.
      <a routerLink="/tabs/tab1"> Home</a>
    </div>
  </div>
</ion-content>